html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 12pt Helvetica;
  color: #fff;
}

html {
  overflow: hidden;
}

#main-canvas {
  display: none;
}

.sequence-div {
  z-index: 2000;
  position: absolute;
}

.sequence-div canvas {
  border: 5px solid #000;
}

#editor {
  width: 300px;
  height: 100%;
  min-height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background: rgba(64, 64, 64, .5);
  padding: 2px;
  z-index: 11000;
}

#timeline {
  width: 100%;
  height: 150px;
  min-height: 150px;
  background: rgba(64, 64, 64, .5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: scroll;
  max-width: 100%;
  z-index: 10000;
}

#editor-sequences {
  width: 100%;
}

#editor ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#editor-sequence-panels {
  width: 100%;
}

#editor li {
  padding: 2px 0 2px 0;
  clear: both;
}

#editor span {
}

#editor fieldset input {
  float: right;
  width: 200px;
}

#editor fieldset fieldset input {
  float: right;
  width: 180px;
}

#editor p p {
  clear: both;
}

#editor fieldset {
  border: 1px solid #333;
}

#console {
  position: absolute;
  bottom: 0;
  height: 30%;
  min-height: 30%;
  width: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  color: #fff;
}

#player {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50000;
}
