html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 10pt Helvetica;
  color: #fff;
}

html {
  overflow: hidden;
}

#main-canvas {
  display: none;
}

.sequence-div {
  z-index: 200;
  position: absolute;
}

.sequence-div canvas {
  border: 5px solid #000;
}

#editor {
  width: 350px;
  height: 700px;
  padding: 2px;
  z-index: 600;
  font-size: 70%;
}

#timeline-playhead {
  height: 100%;
  width: 4px;
  padding: 0;
  margin: 0;
  background-color: #000;
  z-index: 550;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: col-resize;
  opacity: .8;
}

#timeline-container {
  height: 150px;
  min-height: 150px;
  background: rgba(64, 64, 64, .5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: scroll;
  z-index: 500;
  color: #000;
  max-width: 100%;
  width: 100%;
}

#timeline {
}

.track-event {
  color: #000;
  font-size: 8pt;
}

.track-event-selected {
  color: #fff;
  background: -moz-linear-gradient(top,  #00f,  #006);
  background: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#006));
}

#editor-sequences {
  width: 100%;
}

#editor ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#editor-sequence-panels {
  width: 100%;
}

#editor li {
  padding: 2px 0 2px 0;
  clear: both;
}

#editor span {
}

#editor fieldset input[type="text"] {
  float: right;
  width: 200px;
}

#editor fieldset fieldset input {
  float: right;
  width: 180px;
}

#editor fieldset {
  border: 1px solid #333;
  margin-top: 5px;
}

#player {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 400;
}

#add-panel-images {
  width: 680px;
  height: 300px;
  overflow-y: scroll;
}

.add-panel-image {
  border: 1px solid #000;
  margin: 2px;
  height: 165px;
  position: relative;
}

.add-panel-image img {
  width: 150px;
  height: 150px;
  float: left;
  border: 1px solid #000;
  margin: 5px;
}

.add-panel-image span {
  font-weight: bold;
  z-index: +1;
}

#add-panel-images .ui-selecting { background: #FECA40; }
#add-panel-images .ui-selected { background: #F39814; }

.droppable {
  cursor: pointer;
}

.small-val {
  width: 20px;
}
